.main {
  width: 400px;
  margin: 0 auto;
}

table {
	border-collapse: collapse;
}
td {
	height: 30px;
	width: 30px;
}

td.nearbomb {
	background-color: red;
}
td.free {
	background-color: white;
}

a {
	display: block;
	width: 100%;
	height: 100%;

	color: #000;
	text-decoration: none;
}

.js-pion {
	text-decoration: none;
	color: inherit;
}

.selected {
	background-color: green !important;
	opacity: 0.8;
}
.pion-selected {
	border: 2px solid green;
}

.center {
	text-align: center;
}

.fleft {
	float: left;
}


.blank{background-color: #FFFFFF;}
.black{background-color: #000000;}
.red{background-color: #FF0000;}
.orange{background-color: #FF8C00;}
.yellow{background-color: #FFFF00;}
.player{background-image: url(image/player.png);}
.win{background-image: url(image/win.png);}
.lost{background-image: url(image/lost.png);}